@font-face {
  font-family: Google-Sans-Fonts;
  src: url(../Google-Sans-Fonts/GoogleSans-Regular.ttf);
}

body{
  font-family: Google-Sans-Fonts;
  /*background-image: url('../medias/backg.png');*/
  /*background-size:300px 250px ;*/
}

.card-img-top{
  height: 12rem;
}

.theme{
  border-left:8px solid yellow;
  background-color:#ffface;
  color:#6b303091;
  padding:5px;
}

.carousel-control-next-icon,.carousel-control-prev-icon{
    filter: invert(100%);
    height: 60px;
    width: 60px;
}
